.git
.env
__pycache__
**/__pycache__
*.pyc
data/tracks/*_preview.mp4
data/videos/*
!data/videos/KMJS66jBtVQ.mp4
!data/videos/-1bRhYjw1qE.mp4
!data/videos/1ye32v77GE0.mp4
!data/videos/-8zyEwAa50Q.mp4
data/live
data/models
Dockerfile
.dockerignore
.venv
*.log
